* {
  box-sizing: border-box;
  /* formaterar los valores por defecto */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Contenedor general */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
/* Asignar areas*/
header {
  grid-area: header;
  background-color: #ffeeea;
  padding: 20px;
}
main {
  grid-area: main;
  padding: 20px;
}
footer {
  grid-area: footer;
  background-color: #ea6d2d;
  text-align: center;
  padding: 15px;
}
/* Fuente personalizada desde Google Fonts */
body {
  background-color: #ffffff;
  color: #2c1b0c;
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif; /* Fuente elegida */
  margin: 10px;
}

/* Títulos */
h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  padding: 10px 8px;
}
h2 {
  color: #753b1f;
  font-weight: bold;
  margin: 30px;
}

/* Párrafos */
p {
  font-size: 16px;
}

/* Encabezado y pie de página */
header,
footer {
  background-color: #ffd8e2;
  color: #ea6d2d;
  margin-bottom: 8px;
}

/* Menú de navegación */
nav a {
  color: #ffffff;
  font-weight: bold;
  padding: 8px 12px;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  flex-wrap: wrap;
}

/* Listas */
ul,
ol {
  color: #444444;
}
/*flex box */
.flex-container {
  background-color: #fbf6f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: row wrap;
}
.caja {
  border: 1px solid #aac1c9;
  background-color: #c4dce3;
  color: black;
  font-family: "Trebuchet MS";
  font-weight: bold;
  height: 300px;
  width: 400px;
  line-height: 120px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
/*color personalizado */
.bg-custom {
  background-color: #ea6d2d;
}
<!--Flexbox-- > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* media query */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .caja {
    width: 90%;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
